.text_header {
  width: 150px;
  margin-left: auto;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.text_header p {
  margin: 0;
}

.text_title-table {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

.button_print {
  margin-top: 20px;
}

.result_box {
  margin: 20px;
}

.error_icon {
  color: red;
  vertical-align: bottom;
  margin-right: 5px;
}

.user_sign {
  margin-top: 20px;
}

.tech_condition {
  padding-top: 50px;
}

#form_print {
  overflow: scroll;
}

