
.text_header {
  width: 150px;
  margin-left: auto;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.text_header p {
  margin: 0;
}


.text_title-table {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}