<!-- 
 <table class="text_table">
  <tr class="table_header">
    <td rowspan="2">Шифр детали</td>
    <td rowspan="2">Наименование детали</td>
    <td rowspan="2">Материал</td>
    <td rowspan="2">Масса готовой детали, кг</td>
    <td [attr.colspan]="qtyColspan">Заготовка</td>
    <td rowspan="2">Норма расхода <br>на 1 шт</td>
    <td rowspan="2">Примечание</td>
  </tr>
  <tr>
    <td>{{tableFirstTitle}}</td>
    <td *ngIf="isShowSecondParameter">{{tableSecondTitle}}</td>
    <td>L, мм</td>
    <td>l<sub>рез.</sub>, мм</td>
  </tr>
  <tr>
    <td rowspan="2">{{detailNumber}}</td>
    <td rowspan="2">{{detailName}}</td>
    <td rowspan="2">{{materialValue.value}}</td>
    <td rowspan="2">{{detailWeight}}</td>
    <td>{{firstParameter}}</td>
    <td *ngIf="isShowSecondParameter">{{secondParameter}}</td>
    <td>{{lengthWorkPiece}}</td>
    <td>{{length}} </td>
    <td rowspan="2">{{totalResult}}</td>
    <td rowspan="2">{{notation}}</td>
  </tr>
  <tr>
    <td [attr.colspan]="qtyColspan">{{profileValue.viewValue | lowercase}} {{result}}
      кг на {{qtyWorkPiece}} шт.</td>
  </tr>
</table> -->