<table class="text_table">
  <tr class="table_header">
    <td rowspan="2">Шифр детали</td>
    <td rowspan="2">Наименование детали</td>
    <td rowspan="2">Материал</td>
    <td rowspan="2">Масса готовой детали, кг</td>
    <td [attr.colspan]="determineQtyColspan()">Заготовка</td>
    <td rowspan="2">Норма расхода <br>на 1 шт, кг</td>
    <td rowspan="2">Примечание</td>
  </tr>
  <tr>
    <td>{{determineQtyColspantableTitles[determineQtyColspandataTable.type.value].firstParameter}}</td>
    <td *ngIf="determineQtyColspandataTable.values[1]">
      {{determineQtyColspantableTitles[determineQtyColspandataTable.type.value].secondParameter}}</td>
    <td>L, мм</td>
    <td>l<sub>рез.</sub>, мм</td>
  </tr>
  <tr>
    <td rowspan="2">{{dataTable.detailNumber}}</td>
    <td rowspan="2">{{dataTable.detailName}}</td>
    <td rowspan="2">{{dataTable.material}}</td>
    <td rowspan="2">{{dataTable.detailWeight}}</td>
    <ng-container *ngFor="let value of dataTable.values">
      <td *ngIf="value">{{value}}</td>
    </ng-container>
    <td rowspan="2">{{dataTable.totalResult}}</td>
    <td rowspan="2">{{dataTable.notation}}</td>
  </tr>
  <tr>
    <td [attr.colspan]="determineQtyColspan()">{{dataTable.type.viewValue | lowercase}} {{dataTable.result}}
      кг на {{dataTable.qtyWorkPiece}} шт.</td>
  </tr>
</table>
